@using CodeanBlazorDevEnvShare.services;
@inject ITeamsService teamsService;

<h3>Repos</h3>

@if(teamName != null)
{
    if (repos != null)
    {
        <table>
        <thead>
            <td>Repo Name</td>
            <td></td>
        </thead>
        @foreach (var repo in repos)
        {
            <tr>
                <td>@repo</td>
                <td>
                    <input type="button" class="btn btn-primary" value="Open Repo" @onclick="(() => { OpenRepo(repo); })"/>
                </td>
                @* <td>
                    <input type="button" class="btn btn-danger" value="Delete" @onclick="(() => { DeleteRepo(teamName); })" />
                </td> *@
            </tr>
        }
        </table>
    }
    else
    {
        <h3>Add a repo!</h3>
    }
    <br />
    <input @bind="UserName" @bind:event="oninput"/>
    <button @onclick="() => { AddUser(teamName, UserName); }">Add User</button>
    <input @bind="RepoName" @bind:event="oninput"/>
    <button @onclick="() => { CreateRepo(teamName, RepoName); }">Create Repo</button>

    @if(SelectedRepo != null)
    {
        <SharedCodeEditor></SharedCodeEditor>
    }
    
}
else
{
    <h3>Select a Team!</h3>
}

@code {
    [Parameter]
    public string teamName { get; set; }

    List<string> repos;
    
    private string RepoName;

    private string UserName;
        
    public string SelectedRepo;

    protected override async Task OnParametersSetAsync()
    {
        if(teamName != null)
        {
            Console.WriteLine(teamName);
            repos = await teamsService.GetReposList(teamName);
        }
        StateHasChanged();
    }

    private void OpenRepo(string repoName)
    {
        SelectedRepo = repoName;
        //StateHasChanged();
    }

    private void CreateRepo(string teamName, string repoName)
    {
        teamsService.AddRepoToTeam(teamName, repoName);
    }

    private void AddUser(string teamName, string UserName)
    {
        teamsService.AddUserToTeam(teamName, UserName, false);
    }
}
